/* Ported from react-bits (https://reactbits.dev) — MIT License. Recolored for Tristan's palette. */
.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.618rem, 1rem + 2.2vw, 2.618rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}
